.App {
  font-family: sans-serif;
  text-align: center;
  padding: 12px 24px;
}
.listing {
  text-align: left;
}
.meta {
  text-align: right;
  padding-right: 24px;
  padding-top: 18px;
}
.ad {
  padding-left: 24px;
  padding-right: 24px;
  border: 2px solid #333;
  background: #ccc;
}
